# tex scaffolding
*.aux
*.bbl
*.blg
*.bcf
*.fdb_latexmk
*.fls
*.log
*.pdf
*.run.xml
*.synctex.gz
*.toc
*.out
*.nav
*.snm
*.vrb
svg-inkscape

_minted-main

# julia scaffolding
LocalPreferences.toml

# overrides
!/assets
!/assets/*
!logojuliacon.pdf
!/logs/*.log
